body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}

.container {
  text-align: center;
  font-size: 1.6em;
}


.anime-pictures {
  border: 3px solid red;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  margin: 0 auto;
  width: 50%;
}