body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: rgb(67, 40, 92);
}

* {
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
}

input {
  color: white
}

.anime-description {
  font-size: 0.7rem;
}

.main-title {
  text-align: center;
  padding: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
}